<!DOCTYPE html>
<html>

      <h1> <%= @user.username.titlecase %>'s List</h1><br>

<body>
       
      <% @user.gifts.each do |user_gift| %> 
      
      <li> <a href="/gifts/<%=user_gift.id%>"><%= user_gift.title %></a> </li>

      <% end %><br>


</body>

</html>

      
  
