<h1>Sign up</h1>
<br><form method="POST" action="/signup">
    Email: <input type="text" name="email"> <br><br>
    Username: <input type="text" name="username"> <br><br>
    Password: <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>

<br><li><b>Already a user? <a href='/login'>Log In</a></li>