<h1>Sign up</h1>
<form method="POST" action="/login">
    Email: <input type="text" name="email"> <br><br>
    Username: <input type="text" name="username"> <br><br>
    Password: <input type="text" name="password">
    <input type="submit" value="Log In">
</form>