<h2>Edit your gift below:</h2><br>

    <form method="POST" action="/gifts/<%= @gift.id %>">
        <input type="hidden" name="_method" value="PUT">
        Description: <input type="text" name="gift[description]" value="<%= @gift.description %>">
        <input type="submit" value="Update Gift">
    </form><br>

    <a href="/logout">Log Out</a>
