<h1>This is the show page for an individual gift for your user.</h1>
      
      <% if session[:user_id] == @gift.user_id %>

        <a href="/gifts/edit/<%= @gift.id%>" Edit gift </a>
        <a href="/gifts/delete/<%= @gift.id%>" Delete gift </a>
        
      <% end %>