<h1>This is the show page for an individual gift for your user.</h1>
      <% if logged_in? %>
        <a href="/logout">Log Out</a>
      <% else %>
        <h3>Log in or Sign up:</h3>
        <ul>
        <li><b>Already a user? <a href='/login'>Log In</a></li>
        <li><b>New to the site? <a href='/signup'>Sign Up</a></li>
      <% end %>

      <% if session[:user_id] == @gift.user_id %>

        <a href="/gifts/edit/<%= @gift.id%>" Edit gift </a>
        <a href="/gifts/delete/<%= @gift.id%>" Delete gift </a>
        
      <% end %>