<h2>Gift Title: <%= @gift.title %></h2>
<h4>Gift Description: <%= @gift.description %></h4>
      
      <% if session[:user_id] == @gift.user_id %>

        <a href="/gifts/<%= @gift.id %>/edit"> Edit gift </a>

        <form method="POST" action="/gifts/<%= @gift.id %>">
          <input type="hidden" name="_method" value ="DELETE">
          <input type="submit" value="Delete this gift">
        </form>
        
      <% end %>

      add a spot to return to homepage
      add a spot to return to gift page
