<h1>Opps! Looks like you've left the North Pole territory.</h1>

<br>
<img src="../images/north-pole.jpg" class="north" alt="North Pole" title="You've left the North Pole">

<br>
<h3>Click <a href="/">here</a> to return to the North Pole!</h3>