<!DOCTYPE html>
<html>
<div class="container">
  <style> .santa {
    max-width: 25%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
  } </style>
  <header><img src="https://render.fineartamerica.com/images/rendered/default/print/6.5/8/break/images-medium/santas-christmas-list-dixie-rogers.jpg" class="santa" alt="Santa Clause" title="He know's if you've been nice!"></header>
  <div class="col-md- col-md-offset-2">
  
    <br><h1>Welcome to Santa's Christmas List!</h1>

    <div class="content">
      <br><p> Have you been naughty or nice this year? Either way, why not make a Christmas list?!
      On this site, you can create your very own Christmas list. Once you have signed up as a user, 
      you may create your own wishlist. Your list can then seen by friends, family, or even Santa himself
      to get gift ideas for you! Or you can get gift ideas for others! The best gift is giving afterall. </p>
    </div>



    <div class="sidebar">
      <% if logged_in? %>
        <a href="/logout">Log Out</a>
      <% else %>
        <h2>Log in or Sign up:</h2>
        <ul>
        <li><b>Already a user? <a href='/login'>Log In</a></li>
        <li><b>New to the site? <a href='/signup'>Sign Up</a></li>
      <% end %>
      </ul>
    </div>

  </div>
</div>
</html>
