<div class="container">
  <style> .santa {
    max-width: 25%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
  } </style>
  <header><img src="https://barnwell.ca/wp-content/uploads/2018/11/santa.png" class="santa"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Santa's Christmas List!</h2>

    <div class="content">
      <p>On this site, once you have signed up as a user, you may create your own wishlist. Your list can be seen by friends, family, or even Santa to get gift ideas.</p>
    </div>



    <div class="sidebar">
      <% if logged_in? %>
        <a href="/logout">Log Out</a>
      <% else %>
        <h3>Log in or Sign up:</h3>
        <ul>
        <li><b>Already a user? <a href='/login'>Log In</a></li>
        <li><b>New to the site? <a href='/signup'>Sign Up</a></li>
      <% end %>
      </ul>
    </div>

  </div>
</div>
